@model Support_Manager.Models.CasesModel
@{
    ViewData["Title"] = "TümCaseler";
}


@section Styles {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/plugins/datatables/datatables.min.css")" />
} 


<div class="page-description">
    <h1>Tüm Caselerim</h1>
</div>

<div class="card">
    <div class="card-body">
        <div id="datatable4_wrapper" class="dataTables_wrapper dt-bootstrap4">
            <div class="row">
                <div class="col-sm-12">
                    @if (Model.Cases.Count > 0)
                    {
                        <table id="datatable4" class="display dataTable" style="width: 100%;" role="grid" aria-describedby="datatable4_info">
                            <thead>
                                <tr role="row">
                                    <th class="sorting_asc" tabindex="0" aria-controls="datatable4" rowspan="1" colspan="1" aria-sort="ascending" aria-label="caseNumber">Case No</th>
                                    <th class="sorting" tabindex="1" aria-controls="datatable4" rowspan="1" colspan="1" aria-label="caseTitle">Case Başlık</th>
                                    <th class="sorting" tabindex="5" aria-controls="datatable4" rowspan="1" colspan="1" aria-label="caseCustomer">Müşteri</th>
                                    <th class="sorting" tabindex="3" aria-controls="datatable4" rowspan="1" colspan="1" aria-label="caseFollower">Sorumlu</th>
                                    <th class="sorting" tabindex="5" aria-controls="datatable4" rowspan="1" colspan="1" aria-label="caseProgram">Program</th>
                                    <th class="sorting" tabindex="2" aria-controls="datatable4" rowspan="1" colspan="1" aria-label="caseCreater">Oluşturan</th>
                                    <th class="sorting" tabindex="4" aria-controls="datatable4" rowspan="1" colspan="1" aria-label="caseState">Durum</th>
                                    <th class="sorting" tabindex="5" aria-controls="datatable4" rowspan="1" colspan="1" aria-label="caseDate">Tarih</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Cases)
                                {
                                    <tr role="row" class="odd">
                                        <td class="sorting_1"><a asp-controller="Cases" asp-action="Details">@item.CaseNumber</a></td>
                                        <td>@item.CaseName</td>
                                        <td>@item.Customer.CustomerName</td>
                                        <td>@item.Follower.FollowerUserName</td>
                                        <td>@(item.Program == null ? "" : item.Program.ProgramName)</td>
                                        <td>@item.CreatedUser.UserName</td>
                                        <td>@item.Status.StatusName</td>
                                        <td>@item.CreateDate.ToShortDateString() - @item.CreateDate.ToShortTimeString()</td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th rowspan="1" colspan="1"><input type="text" class="form-control" placeholder="Search Case No"></th>
                                    <th rowspan="1" colspan="1"><input type="text" class="form-control" placeholder="Search Case Başlık"></th>
                                    <th rowspan="1" colspan="1"><input type="text" class="form-control" placeholder="Search Müşteri"></th>
                                    <th rowspan="1" colspan="1"><input type="text" class="form-control" placeholder="Search Sorumlu"></th>
                                    <th rowspan="1" colspan="1"><input type="text" class="form-control" placeholder="Search Program"></th>
                                    <th rowspan="1" colspan="1"><input type="text" class="form-control" placeholder="Search Oluşturan"></th>
                                    <th rowspan="1" colspan="1"><input type="text" class="form-control" placeholder="Search Durum"></th>
                                    <th rowspan="1" colspan="1"><input type="text" class="form-control" placeholder="Search Tarih"></th>
                                </tr>
                            </tfoot>
                        </table>
                    }
                    else
                    {
                        <p>Henüz bir case bulunmamaktadır.</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="@Url.Content("~/plugins/datatables/datatables.min.js")"></script>
    <script src="@Url.Content("~/js/pages/datatables.js")"></script>
}
