
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Responsive Admin Dashboard Template">
    <meta name="keywords" content="admin,dashboard">
    <meta name="author" content="stacks">
    <!-- The above 6 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>Neptune - Responsive Admin Dashboard Template</title>

    <!-- Styles -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    <link href="../plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../plugins/perfectscroll/perfect-scrollbar.css" rel="stylesheet">
    <link href="../plugins/pace/pace.css" rel="stylesheet">
    <link href="../plugins/highlight/styles/github-gist.css" rel="stylesheet">

    @RenderSection("Styles", false)

    <!-- Theme Styles -->
    <link href="../css/main.min.css" rel="stylesheet">
    <link href="../css/darktheme.css" rel="stylesheet">
    <link href="../css/custom.css" rel="stylesheet">

    <link rel="icon" type="image/png" sizes="32x32" href="../images/neptune.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="../images/neptune.png" />
</head>

<body>
    <div class="app align-content-stretch d-flex flex-wrap">
        <div class="app-sidebar">
            <div class="logo">
                <a href="index.html" class="logo-icon"><span class="logo-text">Support Manager</span></a>
                <div class="sidebar-user-switcher user-activity-online">
                    <a href="#">
                        <img src="../images/avatars/avatar.png">
                        <span class="activity-indicator"></span>
                        <span class="user-info-text">Mehmet Can ÖZKAN<br><span class="user-state-info">Software Developer</span></span>
                    </a>
                </div>
            </div>
            <div class="app-menu">
                <ul class="accordion-menu">
                    <li class="sidebar-title">
                        Hizmetler
                    </li>
                    <li>
                        <a href=""><i class="material-icons-two-tone">star</i>Case İşlemleri<i class="material-icons has-sub-menu">keyboard_arrow_right</i></a>
                        <ul class="sub-menu">
                            <li>
                                <a href="@Url.Action("Index", "Home")">Aktif Caselerim</a>
                            </li>
                            <li>
                                <a href="@Url.Action("TheEnding", "Home")">Sonlanan Caselerim</a>
                            </li>
                            <li>
                                <a href="@Url.Action("AllCase", "Home")">Tüm Caseler</a>
                            </li>
                            
                        </ul>
                    </li>
                    <li>
                        <a href=""><i class="material-icons-two-tone">cloud_queue</i>Servis İşlemleri<i class="material-icons has-sub-menu">keyboard_arrow_right</i></a>
                        <ul class="sub-menu">
                            <li>
                                <a href="#" class="active">Aktif Servislerim</a>
                            </li>
                            <li>
                                <a href="#">Sonlanan Servislerim</a>
                            </li>
                            <li>
                                <a href="#">Tüm Servisler</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href=""><i class="material-icons-two-tone">widgets</i>Geliştirme İşlemleri<i class="material-icons has-sub-menu">keyboard_arrow_right</i></a>
                        <ul class="sub-menu">
                            <li>
                                <a href="#" class="active">Aktif Geliştirmeler</a>
                            </li>
                            <li>
                                <a href="#">Biten Geliştirmeler</a>
                            </li>
                            <li>
                                <a href="#">Tüm Geliştirmeler</a>
                            </li>

                        </ul>
                    </li>
                    <li class="sidebar-title">
                        Ek Hizmetler
                    </li>
                    <li>
                        <a href="#"><i class="material-icons-two-tone">inbox</i>Mail<span class="badge rounded-pill badge-danger float-end">87</span></a>
                    </li>
                    <li>
                        <a href="#"><i class="material-icons-two-tone">edit</i>Dökümantasyonlar</a>
                    </li>

                    <li>
                        <a href="#"><i class="material-icons-two-tone">done</i>Notlarım</a>
                    </li>

                    <li>
                        <a href="#"><i class="material-icons-two-tone">bookmark</i>Etkinlik</a>
                    </li>
                    
                    
                    <li class="sidebar-title">
                        Yönetim
                    </li>
                    <li>
                        <a href="#"><i class="material-icons-two-tone">view_agenda</i>Kullanıcı İşlemleri<i class="material-icons has-sub-menu">keyboard_arrow_right</i></a>
                        <ul class="sub-menu">
                            <li>
                                <a href="#">Aktif Kullanıcılar</a>
                            </li>
                            <li>
                                <a href="#">Pasif Kullanıcılar</a>
                            </li>
                            <li>
                                <a href="#">Şirket Kullanıcıları</a>
                            </li>
                            
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="material-icons-two-tone">menu</i>Müşteri İşlemleri<i class="material-icons has-sub-menu">keyboard_arrow_right</i></a>
                        <ul class="sub-menu">
                            <li>
                                <a href="#">Aktif Müşteriler</a>
                            </li>
                            <li>
                                <a href="#">Pasif Müşteriler</a>
                            </li>
                            
                        </ul>
                    </li>

                    <li>
                        <a href="#"><i class="material-icons-two-tone">view_day</i>Kullanıcı Ayarlarım</a>
                    </li>
                    
                </ul>
            </div>
        </div>
        <div class="app-container">
            <div class="search">
                <form>
                    <input class="form-control" type="text" placeholder="Type here..." aria-label="Search">
                </form>
                <a href="#" class="toggle-search"><i class="material-icons">close</i></a>
            </div>
            <div class="app-header">
                <nav class="navbar navbar-light navbar-expand-lg">
                    <div class="container-fluid">
                        <div class="navbar-nav" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item hidden-on-mobile">
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#caseCreateModal">
                                        <i class="material-icons">add</i> Case Oluştur
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <div class="d-flex">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link toggle-search" href="#"><i class="material-icons">search</i></a>
                                </li>
                                <li class="nav-item hidden-on-mobile">
                                    <a class="nav-link nav-notifications-toggle" id="notificationsDropDown" href="#" data-bs-toggle="dropdown">4</a>
                                    <div class="dropdown-menu dropdown-menu-end notifications-dropdown" aria-labelledby="notificationsDropDown">
                                        <h6 class="dropdown-header">Notifications</h6>
                                        <div class="notifications-dropdown-list">
                                            <a href="#">
                                                <div class="notifications-dropdown-item">
                                                    <div class="notifications-dropdown-item-image">
                                                        <span class="notifications-badge bg-info text-white">
                                                            <i class="material-icons-outlined">campaign</i>
                                                        </span>
                                                    </div>
                                                    <div class="notifications-dropdown-item-text">
                                                        <p class="bold-notifications-text">Donec tempus nisi sed erat vestibulum, eu suscipit ex laoreet</p>
                                                        <small>19:00</small>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#">
                                                <div class="notifications-dropdown-item">
                                                    <div class="notifications-dropdown-item-image">
                                                        <span class="notifications-badge bg-danger text-white">
                                                            <i class="material-icons-outlined">bolt</i>
                                                        </span>
                                                    </div>
                                                    <div class="notifications-dropdown-item-text">
                                                        <p class="bold-notifications-text">Quisque ligula dui, tincidunt nec pharetra eu, fringilla quis mauris</p>
                                                        <small>18:00</small>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#">
                                                <div class="notifications-dropdown-item">
                                                    <div class="notifications-dropdown-item-image">
                                                        <span class="notifications-badge bg-success text-white">
                                                            <i class="material-icons-outlined">alternate_email</i>
                                                        </span>
                                                    </div>
                                                    <div class="notifications-dropdown-item-text">
                                                        <p>Nulla id libero mattis justo euismod congue in et metus</p>
                                                        <small>yesterday</small>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#">
                                                <div class="notifications-dropdown-item">
                                                    <div class="notifications-dropdown-item-image">
                                                        <span class="notifications-badge">
                                                            <img src="../images/avatars/avatar.png" alt="">
                                                        </span>
                                                    </div>
                                                    <div class="notifications-dropdown-item-text">
                                                        <p>Praesent sodales lobortis velit ac pellentesque</p>
                                                        <small>yesterday</small>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#">
                                                <div class="notifications-dropdown-item">
                                                    <div class="notifications-dropdown-item-image">
                                                        <span class="notifications-badge">
                                                            <img src="../images/avatars/avatar.png" alt="">
                                                        </span>
                                                    </div>
                                                    <div class="notifications-dropdown-item-text">
                                                        <p>Praesent lacinia ante eget tristique mattis. Nam sollicitudin velit sit amet auctor porta</p>
                                                        <small>yesterday</small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="app-content">
                <div class="content-wrapper">
                    <div class="container-fluid">
                        @RenderBody()
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="caseCreateModal" tabindex="-1" aria-labelledby="caseCreateModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="caseCreateModalLabel">Case Oluştur</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Case Oluşturma sayfası eklenecek.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                            <button type="button" class="btn btn-primary">Kaydet</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Javascripts -->
    <script src="~/plugins/jquery/jquery-3.5.1.min.js"></script>
    <script src="../plugins/bootstrap/js/popper.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../plugins/perfectscroll/perfect-scrollbar.min.js"></script>
    <script src="../plugins/pace/pace.min.js"></script>
    <script src="../plugins/highlight/highlight.pack.js"></script>

    @RenderSection("Scripts", false)

    <script src="../js/main.min.js"></script>
    <script src="../js/custom.js"></script>
</body>

</html>